<% if @articles.empty? %>

  <p>No article, sorry!</p>

<% else %>

  <ul class="articles-list">

    <% @articles.reverse.each do |article| %>
      <li>
        <%= link_to article.title, article_path(article) %>
      </li>
    <% end %>
  </ul>

<% end %>
