<% if @articles.empty? %>

  <p>No article, sorry!</p>

<% else %>

  <ul class="articles-list">

    <% @articles.reverse.each do |article| %>
      <li>
        <h2>
          <%= link_to article.title, article_path(article) %>
        </h2>
        <p>
          <%= article.content.split(". ")[1..8].join(". ") %>...
        </p>
      </li>
    <% end %>
  </ul>

<% end %>
