<h2 class="article-title"> <%= @article.title %> </h2>

<div class="actions-article">

  <div class="edit">
    <%= link_to edit_article_path(@article) do %>
      <i class="fas fa-pen"></i>
    <% end %>
  </div>

  <div class="delete">
    <%= link_to article_path(@article), method: :delete do %>
      <i class="fas fa-trash"></i>
    <% end %>
  </div>


</div>

<hr>
<p class="article-content"> <%= @article.content %> </p>

